@import "tailwindcss";
@tailwind base !important;
@tailwind components !important;
@tailwind utilities !important;
@font-face {
    font-family: A;
    src: url('../public/fonts/PlaypenSansArabic-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: A;
    src: url('../public/fonts/PlaypenSansArabic-Thin.ttf');
    font-weight: 200;
}
@font-face {
    font-family: A;
    src: url('../public/fonts/PlaypenSansArabic-Bold.ttf');
    font-weight: bold;
}